<form [formGroup]="form" novalidate>
  <!-- Nome -->
  <div class="row col-sm-12">
    <label for="name" class="form-label">Nome</label>
    <div class="form-group pb-2" [ngClass]="aplicaCssValidacao('nome')">

      <input type="text" class="form-control" id="name" name="nome" placeholder="Nome" formControlName="nome" required>
      <div *ngIf="verificaValidTouched('nome')" class="invalid-feedback">
        Nome é obrigatório
      </div>
    </div>
  </div>
  <!-- E-mail -->
  <div class="row col-sm-12">
    <div class="form-group pb-2" [ngClass]="aplicaCssValidacao('email')">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="nome@email.com"
        formControlName="email" required>
      <div *ngIf="verificaValidTouched('email')" class="invalid-feedback" role="alert">
        Email é Obrigatório
      </div>
      <div *ngIf="verificaEmailInvalido()" class="invalid-feedback" role="alert">
        Email invalido.
      </div>
    </div>
  </div>

  <!-- Endereço -->
  <div class="mb-3" formGroupName="endereco">
    <!-- CEP/NÚMERO/COMPLEMENTO -->
    <div class="row mb-3 col-sm-12">
      <!-- CEP -->
      <div class="col-md-3 form-group" [ngClass]="aplicaCssValidacao('endereco.cep')">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" placeholder="00000-000"
          (blur)="consultaCEP()" required>
        <div *ngIf="verificaValidTouched('endereco.cep')" class="invalid-feedback" role="alert">
          CEP é Obrigatório
        </div>
      </div>
      <!-- NÚMERO -->
      <div class="col-md-3 form-group" [ngClass]="aplicaCssValidacao('endereco.numero')">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="001" required>
        <div *ngIf="verificaValidTouched('endereco.numero')" class="invalid-feedback" role="alert">
          Número é Obrigatório
        </div>
      </div>
      <!-- COMPLEMENTO -->
      <div class="col-md-6 form-group">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento"
          placeholder="Apartamento">
      </div>
    </div>
    <!-- RUA -->
    <div class="row col-sm-12">
      <label for="name" class="form-label">Rua</label>
      <div class="form-group pb-2" [ngClass]="aplicaCssValidacao('endereco.rua')">

        <input type="text" class="form-control" id="name" formControlName="rua" required>
        <div *ngIf="verificaValidTouched('endereco.rua')" class="invalid-feedback">
          Rua é obrigatório
        </div>
      </div>
    </div>
    <!-- BAIRRO/CIDADE/ESTADO -->
    <div class="row col-sm-12">
      <div class="col-sm-5 form-group">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" name="bairro" id="bairro" formControlName="bairro">
      </div>
      <div class="col-sm-4 form-group">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" name=" cidade" id="cidade" formControlName="cidade">
      </div>
      <div class="col-sm-3 form-group">
        <label for="estado" class="form-label">Estado</label>
        <select type="text" class="form-control form-select" id="estado" formControlName="estado">
          <option *ngFor="let estados of estado | async" [value]="estados.Sigla">{{ estados.Nome }}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Cargo/Tecnologia -->
  <div class="row col-sm-12 mb-3">
    <div class="form-group col-md-4" [ngClass]="aplicaCssValidacao('cargo')">
      <label for="cargo" class="form-label">Cargo</label>
      <select type="text" class="form-control form-select" id="cargo" formControlName="cargo"
        [compareWith]="compararCargos">
        <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
      </select>
    </div>
    <div class="form-group col-md-4" [ngClass]="aplicaCssValidacao('tecnologia')">
      <label for="tecnologia" class="form-label">Tecnologias</label>
      <select multiple type="text" class="form-control form-select" id="tecnologia" formControlName="tecnologia">
        <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
      </select>
    </div>
    <div class="form-check col-md-4">
      <label class="form-check-label" for="newsletter">Newsletter</label>
      <div class="row" id="newsletter">
        <div class="col-sm-12" *ngFor="let newsletter of newsletterOptions">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [value]="newsletter.valor" id="inlineRadio1"
              formControlName="newsletter">
            <label class="form-check-label" for="inlineRadio1">{{ newsletter.desc }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12 mb-3">
    <div class="form-check form-check-inline" [ngClass]="aplicaCssValidacao('termos')">
      <input class="form-check-input" type="checkbox" id="termos" formControlName="termos" required>
      <label class="form-check-label" for="termos">Aceita os termos.</label>
      <div *ngIf="verificaValidTouched('termos')" class="invalid-feedback">
        Por favor, aceite os termos.
      </div>
    </div>
  </div>

  <div class="form-group col-sm-12 mb-3">
    <label for="frameworks">Frameworks</label>
    <div id="frameworks" [ngClass]="aplicaCssValidacao('frameworks')">
      <div class="form-check col-sm-3"  formArrayName="frameworks"
      *ngFor="let item of getFrameworksControls(), let i = index">
        <input class="form-check-input" type="checkbox" id="frameworks" [formControlName]="i">
        <label class="form-check-label" for="frameworks">{{ framework[i]  }}</label>
      </div>
      <div *ngIf="verificaValidTouched('frameworks')" class="invalid-feedback">
        Selecione 1 opção.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary me-2" (click)="onSubmit()">Submit</button>
  <button class="btn btn-danger me-2" (click)="resetar()">Resetar</button>
  <button class="btn btn-success me-2" (click)="setarCargo()">Cargo</button>
  <button class="btn btn-warning" (click)="setarTecnologias()">Tecnologias</button>
  <form-debug [form]="form"></form-debug>
</form>
