<h5>Criar/Editar Aluno</h5>

<div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Id</label>
    <input [(ngModel)]="aluno.id" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" disabled>
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input [(ngModel)]="aluno.nome" type="text" class="form-control" id="nome" (input)="onInput()">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input [(ngModel)]="aluno.email" type="email" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
