<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="aba == 'mapa'" (click)="aba = 'mapa'">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="aba == 'lista'" (click)="aba = 'lista'">Lista</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div [ngSwitch]="aba">
    <p *ngSwitchCase="'mapa'">Mapa Ativado</p>
    <p *ngSwitchCase="'lista'">Lista Ativado</p>
    <p *ngSwitchDefault>Home</p>
  </div>
  <div>
    <h5>Removendo o * e usando template</h5>
    <div [ngSwitch]="aba">
      <ng-template ngSwitchCase="mapa">
        Mapa Ativado
      </ng-template>
      <ng-template ngSwitchCase="lista">
        Lista Ativado
      </ng-template>
      <ng-template ngSwitchDefault>
        Home
      </ng-template>
    </div>
  </div>
</div>
